<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GoFit</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.simplyscroll.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.simplyscroll.css" media="all" type="text/css">



    <link href="@Url.Content("~/Content/MyProfile.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (ViewBag.UserIsAdmin == true)
                    {
                        <li>@Html.ActionLink("Categories", "Index", "AdminCategories")</li>
                        <li>@Html.ActionLink("Comments", "Index", "AdminComments")</li>
                        <li>@Html.ActionLink("Exercises", "Index", "AdminExercises")</li>
                        <li>@Html.ActionLink("Types", "Index", "AdminTypes")</li>
                        <li>@Html.ActionLink("Workouts", "Index", "AdminWorkouts")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("MyProfile", "Index", "MyProfile")</li>
                        <li>@Html.ActionLink("MyWorkouts", "Index", "MyWorkouts")</li>
                        <li>@Html.ActionLink("Exercises", "Index", "Exercise")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="gofit-header">
            <a href="/" class="gofit-invis-link"></a>
        </div>
        @if (ViewBag.recommended != null)
        {
        <div class="gofit-recommendation well">
            Try this workout! 
            <a href="/Home/Details?workoutId=@ViewBag.recommended.id">@ViewBag.recommended.name</a>
        </div>
        }
        @RenderBody()
        <hr />
        <footer class="gofit-footer">
            <div class="footerBanner">
                <a href="#top" class="gofit-invis-link" title="Back to top"></a>
            </div>
            <p>&copy; @DateTime.Now.Year - GoFit</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
