@model GoFit.Models.UserWorkoutViewModel
@section Styles {
    <link href="@Url.Content("~/Content/MyProfile.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Index";
    var weight = "";
    if (Model.TheUser.weight != null) { weight = Model.TheUser.weight.ToString() + " lbs"; };
    var height = "";
    if (Model.TheUser.height != null) { height = Model.TheUser.height.ToString() + " ft"; };
}

<h3>@ViewBag.greeting</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 user-info">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">My Profile Info</h2>
                </div>
                <div class="well">
                <div class="row">
                    <div class="col-md-4 col-sm-12 my_profile_label"><h4><span class="label label-default">Username:</span></h4></div>
                    <div class="col-md-8 col-sm-12 my_profile_prop">@Html.Encode(Model.TheUser.username)</div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 my_profile_label"><h4><span class="label label-default">First Name:</span></h4></div>
                    <div class="col-md-8 col-sm-12 my_profile_prop">@Html.Encode(Model.TheUser.fname)</div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 my_profile_label"><h4><span class="label label-default">Last Name:</span></h4></div>
                    <div class="col-md-8 col-sm-12 my_profile_prop">@Html.Encode(Model.TheUser.lname)</div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 my_profile_label"><h4><span class="label label-default">Gender:</span></h4></div>
                    @{
                        var gender = "";
                        if (Model.TheUser.is_male != null)
                        {
                            gender = Model.TheUser.is_male == 1 ? "Male" : "Female";
                        }
                    }
                    <div class="col-md-8 col-sm-12 my_profile_prop">@gender</div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 my_profile_label"><h4><span class="label label-default">Weight:</span></h4></div>
                    <div class="col-md-8 col-sm-12 my_profile_prop">@weight</div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 my_profile_label"><h4><span class="label label-default">Height:</span></h4></div>
                    <div class="col-md-8 col-sm-12 my_profile_prop">@height</div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    @Html.ActionLink("Edit My Profile", "Edit", new { id = Model.TheUser.id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        @{Html.RenderAction("FavoriteList", "FavoriteWorkouts");}
        @Html.Partial("~/Views/Shared/_BragFeedPartial.cshtml", Model.BragFeedWorkoutList)
     </div>

</div>