
@model GoFit.Models.workout

@{
    ViewBag.Title = "Workout";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var fav_count = "";
    if (Model.user_favorite_workout.Count == 1) { fav_count = "1 user"; }
    else { fav_count = Model.user_favorite_workout.Count + " users"; };
    var average_rating = "Not rated yet";
    if (Model.workout_rating != null) { average_rating = Model.workout_rating.average_rating + "/10.0"; }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-xs-12 workout_detail well">
            <div class="row">
                <div class="workout_detail_header">@Model.name</div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 workout_label"><h4><span class="label label-default">Description</span></h4></div>
                <div class="col-md-8 col-sm-12 workout_prop">@Html.DisplayFor(model => model.description)</div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 workout_label"><h4><span class="label label-default">Created By</span></h4></div>
                <div class="col-md-8 col-sm-12 workout_prop">@Html.DisplayFor(model => model.user.username)</div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12"><h4><span class="label label-default">Category</span></h4></div>
                <div class="col-md-8 col-sm-12 workout_prop">@Html.DisplayFor(model => model.category.name)</div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12"><h4><span class="label label-default">Created At</span></h4></div>
                <div class="col-md-8 col-sm-12 workout_prop">@Html.DisplayFor(model => model.created_at)</div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12"><h4><span class="label label-default">Favorited by</span></h4></div>
                <div class="col-md-8 col-sm-12 workout_prop">@fav_count</div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12"><h4><span class="label label-default">Rating</span></h4></div>
                <div class="col-md-8 col-sm-12 workout_prop">@average_rating</div>
            </div>
        </div>
        <div class="col-md-8 col-xs-12 exercise_list">
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Exercises</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr class="row">
                                    @if (@ViewBag.isMyWorkout == true)
                                    {
                                        <th class="col-xs-4">Exercise</th>
                                        <th class="col-xs-4">Duration</th>
                                        <th class="col-xs-4">
                                            <span class="did_exercise_chkbx">Complete</span>
                                        </th>
                                    }
                                    else
                                    {
                                        <th class="col-xs-6">Exercise</th>
                                        <th class="col-xs-6">Duration</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var exercise in Model.workout_exercise)
                                {
                                    <tr class="row">
                                        @if (@ViewBag.isMyWorkout == true) { 
                                            <td class="col-xs-4">@Html.ActionLink(exercise.exercise.name, "Index", "Exercise", new { ex_id = exercise.exercise_id }, new { @class = "" })</td>
                                            <td class="col-xs-4">
                                                @if (@exercise.exercise.type.measure == "unit")
                                                {
                                                    <span>@Convert.ToInt16(@exercise.duration)</span>
                                                    <span>reps</span>
                                                }
                                                else
                                                {
                                                    <span>@Convert.ToInt16(@exercise.duration)</span>
                                                    <span>@exercise.exercise.type.measure</span>
                                                }
                                            </td>
                                            <td class="col-xs-4">
                                                <input type="hidden" id="timestampString" class="timestampString" value="@ViewBag.timestampString" />
                                                <input type="checkbox" class="did_exercise_chkbx" id="@String.Concat("chkbx", @exercise.position)" onchange="onCheck(@exercise.position)" />
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="col-xs-6">@Html.ActionLink(exercise.exercise.name, "Index", "Exercise", new { ex_id = exercise.exercise_id }, new { @class = "" })</td>
                                            <td class="col-xs-6">
                                                @if (@exercise.exercise.type.measure == "unit")
                                                {
                                                    <span>@Convert.ToInt16(@exercise.duration)</span>
                                                    <span>reps</span>
                                                }
                                                else
                                                {
                                                    <span>@Convert.ToInt16(@exercise.duration)</span>
                                                    <span>@exercise.exercise.type.measure</span>
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>