@model GoFit.Models.exercise

<div class="col-md-4 col-xs-12 workout_detail well" >
    <div class="row">
        <div class="workout_detail_header">@Model.name</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 workout_label"><h4><span class="label label-default">Description</span></h4></div>
        <div class="col-md-8 col-sm-12 workout_prop">@Html.DisplayFor(model => model.description)</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 workout_label"><h4><span class="label label-default">Link to video</span></h4></div>
        <div class="col-md-8 col-sm-12 workout_prop">@Html.DisplayFor(model => model.link)</div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
