@model GoFit.Models.exercise

@{
    ViewBag.Title = "Admin Exercise Details";
}

<h2>Exercise Details: @Model.name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.created_at, "Created", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.LabelFor(model => model.link, "Link", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link)
        </dd>

        <dt>
            @Html.LabelFor(model => model.description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.LabelFor(model => model.name, "Exercise Name", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.type.name, "Type", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type.name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.user.username, "Username", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.username)
        </dd>
    </dl>
    <div>
        @if (!String.IsNullOrEmpty(@Model.link))
        {
            <iframe class="col-md-12 col-sm-12 exercise_video" width="640" height="400" src=@Model.link.Replace("watch?v=", "embed/") frameborder="0"></iframe>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", "AdminExercises", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
