@model GoFit.Models.exercise

@{
    ViewBag.Title = "Admin Exercise Details";
}

<div class="row">
    <div class="col-md-8 col-xs-12 admin_detail well">
        <div class="row">
            <div class="admin_detail_header">Exercise @Model.name</div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 admin_label"><h4><span class="label label-default">Name</span></h4></div>
            <div class="col-md-8 col-sm-12 admin_prop">@Html.DisplayFor(model => model.name)</div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 admin_label"><h4><span class="label label-default">Description</span></h4></div>
            <div class="col-md-8 col-sm-12 admin_prop">@Html.DisplayFor(model => model.description)</div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 admin_label"><h4><span class="label label-default">Type</span></h4></div>
            <div class="col-md-8 col-sm-12 admin_prop">@Html.DisplayFor(model => model.type.name)</div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 admin_label"><h4><span class="label label-default">YouTube link</span></h4></div>
            <div class="col-md-8 col-sm-12 admin_prop"><a href=@Model.link target="_blank">@Model.link</a></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 admin_label"><h4><span class="label label-default">Created by</span></h4></div>
            <div class="col-md-8 col-sm-12 admin_prop">@Html.DisplayFor(model => model.user.username)</div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 admin_label"><h4><span class="label label-default">Created Date</span></h4></div>
            <div class="col-md-8 col-sm-12 admin_prop">@Html.DisplayFor(model => model.created_at)</div>
        </div>
        <div>
            <iframe class="col-md-12 col-sm-12 exercise_video" width="640" height="400" src="@ViewBag.videoLink" frameborder="0"></iframe>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index", "AdminExercises", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, htmlAttributes: new { @class = "btn btn-primary" })
</p>
