@model GoFit.Models.exercise

@{
    ViewBag.Title = "Admin Edit Exercise";
}

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal admin-form well col-md-6">
            <div class="row">
                <div class="admin_well_header">Edit Exercise: @Model.name</div>
            </div>

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.timestamp)
            @Html.HiddenFor(model => model.created_at)

            <div class="form-group">
                @Html.LabelFor(model => model.name, "Exercise Name", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.name, new { @class = "admin_textbox" })
                    @Html.ValidationMessageFor(model => model.name, "Exercise Name required")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.description, "Description", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.description, new { @class = "description_textarea" })
                    @Html.ValidationMessageFor(model => model.description, "Description required")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.type_id, "Measured In", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("type_id", null, String.Empty, new { @class = "drop_down" })
                    @Html.ValidationMessageFor(model => model.type_id, "Measure required")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.created_by_user_id, "Created By", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("created_by_user_id", null, String.Empty, new { @class = "drop_down" })
                    @Html.ValidationMessageFor(model => model.created_by_user_id, "User required")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.link, "Link", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.link, new { @class = "admin_textbox" })
                    @Html.ValidationMessageFor(model => model.link)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @Html.ActionLink("Cancel", "Index", "AdminExercises", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
