@model IEnumerable<GoFit.Models.exercise>

@{
    ViewBag.Title = "Admin Exercises";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Exercises</h2>

<p>
    <input class="btn btn-primary" type="button" value="Create New Exercise" onclick="location.href='@Url.Action("Create", "AdminExercises" )'" />
</p>
<br>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Listing Exercises...</h2>
        </div>

        <div class="panel-body">
            <table class="workout_list table container-fluid">
                <thead>
                    <tr class="row">
                        <th class="col-xs-3">@Html.DisplayNameFor(model => model.created_at)</th>
                        <th class="col-xs-3">@Html.DisplayNameFor(model => model.link)</th>
                        <th class="col-xs-3">@Html.DisplayNameFor(model => model.description)</th>
                        <th class="col-xs-3">@Html.DisplayNameFor(model => model.timestamp)</th>
                        <th class="col-xs-3">@Html.DisplayNameFor(model => model.name)</th>
                        <th class="col-xs-3">@Html.DisplayNameFor(model => model.type.name)</th>
                        <th class="col-xs-3">@Html.DisplayNameFor(model => model.user.username)</th>
                        <th class="col-xs-3">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="row">
                            <td class="workout_name_cell col-xs-3">@Html.DisplayFor(modelItem => item.created_at)</td>
                            <td class="workout_name_cell col-xs-3">@Html.DisplayFor(modelItem => item.link)</td>
                            <td class="workout_name_cell col-xs-3">@Html.DisplayFor(modelItem => item.description)</td>
                            <td class="workout_name_cell col-xs-3">@Html.DisplayFor(modelItem => item.timestamp)</td>
                            <td class="workout_name_cell col-xs-3">@Html.DisplayFor(modelItem => item.name)</td>
                            <td class="workout_name_cell col-xs-3">@Html.DisplayFor(modelItem => item.type.name)</td>
                            <td class="workout_name_cell col-xs-3">@Html.DisplayFor(modelItem => item.user.username)</td>
                            <td class="workout_name_cell col-xs-3">
                                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>
</div>