@model GoFit.Models.user

@{
    ViewBag.Title = "Admin Home";
}

<h2>GoFit Administrator Home</h2>

<h3>@ViewBag.greeting</h3>

<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 personal_info_detail well">
            <div class="row">
                <div class="personal_info_header">Edit Entities</div>
            </div>
            <div class="row">
                <div class="col-md-4">@Html.ActionLink("List Categories", "Index", "AdminCategories")</div>
            </div>
            <div class="row">
                <div class="col-md-4">@Html.ActionLink("List Comments", "Index", "AdminComments")</div>
            </div>
            <div class="row">
                <div class="col-md-4">@Html.ActionLink("List Exercises", "Index", "AdminExercises")</div>
            </div>
            <div class="row">
                <div class="col-md-4">@Html.ActionLink("List Types", "Index", "AdminTypes")</div>
            </div>
            <div class="row">
                <div class="col-md-4">@Html.ActionLink("List Workouts", "Index", "AdminWorkouts")</div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 personal_info_detail well">
            <div class="row">
                <div class="personal_info_header">Personal Info</div>
            </div>
            <div class="row">
                <div class="col-md-3 my_profile_label"><h4><span class="label label-default">Username:</span></h4></div>
                <div class="col-md-3 my_profile_prop">@Html.DisplayFor(model => model.username)</div>
            </div>
            <div class="row">
                <div class="col-md-3 my_profile_label"><h4><span class="label label-default">First Name:</span></h4></div>
                <div class="col-md-3 my_profile_prop">@Html.DisplayFor(model => model.fname)</div>
            </div>
            <div class="row">
                <div class="col-md-3 my_profile_label"><h4><span class="label label-default">Last Name:</span></h4></div>
                <div class="col-md-3 my_profile_prop">@Html.DisplayFor(model => model.lname)</div>
            </div>
            <div class="row">
                <div class="col-md-3 my_profile_label"><h4><span class="label label-default">Gender:</span></h4></div>
                @{
                    var gender = "";
                    if (Model.is_male != null)
                    {
                        gender = Model.is_male == 1 ? "Male" : "Female";
                    }
                }
                <div class="col-md-3 my_profile_prop">@gender</div>
            </div>
            <div class="row">
                <div class="col-md-3 my_profile_label"><h4><span class="label label-default">Weight:</span></h4></div>
                <div class="col-md-3 my_profile_prop">@Html.DisplayFor(model => model.weight)</div>
            </div>
            <div class="row">
                <div class="col-md-3 my_profile_label"><h4><span class="label label-default">Height:</span></h4></div>
                <div class="col-md-3 my_profile_prop">@Html.DisplayFor(model => model.height)</div>
            </div>
            <div class="row">
                <div class="button_bar">@Html.ActionLink("Edit My Profile", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" })</div>
            </div>
        </div>
    </div>
</div>

