@model GoFit.Models.workout

@{
    ViewBag.Title = "Admin Delete Workout";
}
<div class="well warning">
    <h3>Are you sure you want to delete the workout: @Model.name?</h3>
</div>

@Html.Partial("WorkoutPartials/_WorkoutPartial")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.timestamp)

    <div class="form-actions no-color">
        @Html.ActionLink("Back to List", "Index", "AdminWorkouts", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
        <input type="submit" value="Delete" class="btn btn-primary" />
    </div>
}

