@model GoFit.Models.type

@{
    ViewBag.Title = "Admin Delete Type";
}

<h2>Admin Delete Type</h2>

<h3>Are you sure you want to delete the type with measure: @Model.measure?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.measure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.measure)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.timestamp)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
