@*MyWorkout/Details*@

@Html.Partial("WorkoutPartials/_WorkoutPartial")

<div class="row button_bar">
    <a href="/MyWorkouts" class="btn btn-primary">Back</a>
    @Html.ActionLink(
                "Add to My Workouts",
                "AddToMyWorkouts",
                "MyWorkouts",
                new { workout_id = @Model.id },
                new { @class = "btn btn-primary" })
    @if (ViewBag.IsFavorite)
    {
    @Html.ActionLink(
                "Remove from Favorites",
                "RemoveWorkoutFromFavorites",
                "FavoriteWorkouts",
                new { workout_id = @Model.id },
                new { @class = "btn btn-primary" })
    }
    else
    {
    @Html.ActionLink(
                "Add to Favorites",
                "AddWorkoutToFavorites",
                "FavoriteWorkouts",
                new { workout_id = @Model.id },
                new { @class = "btn btn-primary" })
    }
</div>

@Html.Partial("WorkoutPartials/_CommentsPartial")

@section Scripts {
    <script type="text/javascript">
        function onCheck(position) {
            if (position == null) return;
            var id = "chkbx" + id;
            var checkbox = document.getElementById(id);
            var url = "@Url.Action("MarkExercise", "MyWorkouts")";
            var params = {}
            params.my_workout_id = @ViewBag.myWorkoutId
            params.position = position;
            params.timestampString = $('#timestampString').val();
            $.post(url, params, function (result) {
                //alert(JSON.stringify(result))
                if (result.success == "true") {
                    for (var i = 1; i <= position; i++) {
                        var id = "chkbx" + i;
                        checkbox = document.getElementById(id);
                        checkbox.checked = true;
                        checkbox.disabled = true;
                    }
                    $(".timestampString").val(result.timestampString);
                } else {
                    alert(result.message);
                    var id = "chkbx" + result.position;
                    checkbox = document.getElementById(id);
                    checkbox.checked = false;
                }
            });
        };

    (function () {
        for (var i = 1; i <= @ViewBag.numExercisesCompleted; i++) {
            id = "chkbx" + i;
            checkbox = document.getElementById(id);
            checkbox.checked = true;
            checkbox.disabled = true;
        }
    })();
    </script>
}

