@model GoFit.Models.category

@{
    ViewBag.Title = "Admin Delete Category";
}

<h2>Admin Delete Category</h2>

<h3>Are you sure you want to delete the category: @Model.name?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.name, "Category Name", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.timestamp)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", "AdminCategories", routeValues: null, htmlAttributes: new { @class="btn btn-primary" })
        </div>
    }
</div>
