@model GoFit.Models.comment

@{
    ViewBag.Title = "Admin Comment Details";
}

<h2>Admin Comment Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.workout.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.workout.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Delete", "Delete", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
