@model GoFit.Models.comment

@{
    ViewBag.Title = "Admin Comment Details";
}
<div class="row">
    <div class="col-md-4 col-xs-12 admin_detail well">
        <div class="row">
            <div class="admin_detail_header">Comment from @Model.user.username</div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 admin_label"><h4><span class="label label-default">Message</span></h4></div>
            <div class="col-md-8 col-sm-12 admin_prop">@Html.DisplayFor(model => model.message)</div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 admin_label"><h4><span class="label label-default">Date Created</span></h4></div>
            <div class="col-md-8 col-sm-12 admin_prop">@Html.DisplayFor(model => model.date_created)</div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 admin_label"><h4><span class="label label-default">Username</span></h4></div>
            <div class="col-md-8 col-sm-12 admin_prop">@Html.DisplayFor(model => model.user.username)</div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 admin_label"><h4><span class="label label-default">Workout</span></h4></div>
            <div class="col-md-8 col-sm-12 admin_prop">@Html.DisplayFor(model => model.workout.name)</div>
        </div>
    </div>
</div>

<p>    
    @Html.ActionLink("Back to List", "Index", "AdminComments", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.id }, htmlAttributes: new { @class = "btn btn-primary" })
</p>
