@model PagedList.IPagedList<GoFit.Models.comment>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Comments</h2>

<p>
    <input class="btn btn-primary" type="button" value="Create New Comment" onclick="location.href='@Url.Action("Create", "AdminComments" )'" />
</p>
<br>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Listing Comments...</h2>
        </div>

        <div class="panel-body">
            <div class="search_bar">
                <form action="/AdminCategories" method="post" class="form-inline">
                    <div class="search_inputs form-group row">
                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                            <input class="" id="MessageSearch" name="Description" type="text" value="@Session["MessageSearchParam"]" placeholder="Message..." />
                        </div>
                        <div class="col-lg-2 col-md-1 col-sm-12 col-xs-12">
                            <input class="btn btn-primary" type="submit" value="Search" />
                        </div>
                    </div>
                </form>
            </div>
            <table class="table">
                <tr class="row">
                    <th class="col-xs-2">@Html.ActionLink("Message", "Index", new { sortBy = ViewBag.MessageSortParam, filterString = ViewBag.FilterParam })</th>
                    <th class="col-xs-3">@Html.ActionLink("Date Created", "Index", new { sortBy = ViewBag.DateSortParam, filterString = ViewBag.FilterParam })</th>
                    <th class="col-xs-3">@Html.ActionLink("Username", "Index", new { sortBy = ViewBag.UsernameSortParam, filterString = ViewBag.FilterParam })</th>
                    <th class="col-xs-3">@Html.ActionLink("Workout Name", "Index", new { sortBy = ViewBag.WorkoutSortParam, filterString = ViewBag.FilterParam })</th>
                    <th>&nbsp;</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr class="row">

                        <td class="col-xs-2">@Html.DisplayFor(modelItem => item.message)</td>
                        <td class="col-xs-3">@Html.DisplayFor(modelItem => item.date_created)</td>
                        <td class="col-xs-3">@Html.DisplayFor(modelItem => item.user.username)</td>
                        <td class="col-xs-3">@Html.DisplayFor(modelItem => item.workout.name)</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                        </td>
                    </tr>
                }

            </table>
            <div class="pagination_container">
                @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</div>
