@model GoFit.Models.WorkoutExerciseViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create Workout</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2">Workout Name:</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Workout.name, new { @class = "workout_textbox" })
                @Html.ValidationMessageFor(model => model.Workout.name)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Description:</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Workout.description, new { @class = "description_textarea" })
                @Html.ValidationMessageFor(model => model.Workout.description)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Category:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Workout.category_id, (IEnumerable<SelectListItem>)ViewBag.Categories, new { @class = "drop_down" })
                @Html.ValidationMessageFor(model => model.Workout.category_id)
            </div>
        </div>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2">First Exercise:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.WorkoutExercise.exercise_id, (IEnumerable<SelectListItem>)ViewBag.Exercises, new { onChange = "onSelectedIndexChanged()", id = "cmbMeasure", @class = "drop_down" })
                @Html.ValidationMessageFor(model => model.WorkoutExercise.exercise_id)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Exercise Duration:</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.WorkoutExercise.duration, new { @id = "duration_text" })
                @Html.ValidationMessageFor(model => model.WorkoutExercise.duration)
                <label id="lblMeasure">unit(s)</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
