@*Home/Details*@

@Html.Partial("WorkoutPartials/_WorkoutPartial")

<div class="row button_bar">
    <a href="/" class="btn btn-primary">Back</a>
    @if (User.Identity.IsAuthenticated) {
        @Html.ActionLink(
                "Add to My Workouts",
                "AddToMyWorkouts",
                "MyWorkouts",
                new { workout_id = @Model.id },
                new { @class = "btn btn-primary" })
    }
    @if (User.Identity.IsAuthenticated && !ViewBag.IsFavorite) {
        @Html.ActionLink(
                "Add to Favorites",
                "AddWorkoutToFavorites",
                "FavoriteWorkouts",
                new { workout_id = @Model.id },
                new { @class = "btn btn-primary" })
    }
</div>

@Html.Partial("WorkoutPartials/_CommentsPartial")
