@model IEnumerable<GoFit.Models.workout_exercise>


<div class="row">
    <div class="col-md-8 col-xs-8 add_exercise_list">
        <div class="">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Exercises</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr class="row">
                                <th class="col-xs-8">Exercise</th>
                                <th class="col-xs-8">Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var exercise in Model)
                            {
                                <tr class="row">
                                    <td class="col-xs-8">@Html.DisplayFor(modelItem => exercise.exercise.name)</td>
                                    <td class="col-xs-8">
                                        @Convert.ToInt16(@exercise.duration)&nbsp;
                                        @if (@exercise.exercise.type.measure == "unit")
                                        {
                                            <span>reps</span>
                                        }
                                        else
                                        {
                                            <span>@exercise.exercise.type.measure</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
