@*@model IEnumerable<GoFit.Models.workout>*@
@model PagedList.IPagedList<GoFit.Models.workout>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GoFit</h1>
    <p class="lead">Welcome to GoFit!</p>
</div>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Workouts</h2>
        </div>
        <div class="panel-body container-fluid">
            <div class="search_bar">
                <form action="/" method="post" class="form-inline">
                    <div class="search_inputs form-group row">
                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                            <input class="" id="NameSearch" name="Name" type="text" value="@Session["NameSearchParam"]" placeholder="Workout name..." />
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                            <input class="" id="CategorySearch" name="Category" type="text" value="@Session["CategorySearchParam"]" placeholder="Category..." />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            <input class="" id="DateAddedSearch" name="DateAdded" type="date" placeholder="Date Added..." />
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                            <input class="" id="UsernameSearch" name="Username" type="text" value="@Session["UsernameSearchParam"]" placeholder="Username..." />
                        </div>
                        <div class="col-lg-2 col-md-1 col-sm-12 col-xs-12">
                            <input class="btn btn-primary" type="submit" value="Search" />
                        </div>
                    </div>
                </form>
            </div>
            <table class="workout_list table container-fluid">
                <thead>
                    <tr class="row">
                        <th class="col-xs-3">@Html.ActionLink("Workout Name", "Index", new { sortBy = ViewBag.NameSortParam })</th>
                        <th class="col-xs-3">@Html.ActionLink("Category", "Index", new { sortBy = ViewBag.CategorySortParam })</th>
                        <th class="col-xs-2">@Html.ActionLink("Date Added", "Index", new { sortBy = ViewBag.DateSortParam })</th>
                        <th class="col-xs-3">@Html.ActionLink("Username", "Index", new { sortBy = ViewBag.UserSortParam })</th>
                        <th class="col-xs-1">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var workout in Model)
                    {
                        <tr class="row">
                            <td class="workout_name_cell col-xs-3">@Html.ActionLink(workout.name, "Details", new { workoutId = workout.id })</td>
                            <td class="workout_category_cell col-xs-3">@Html.DisplayFor(modelItem => workout.category.name)</td>
                            <td class="workout_created_cell col-xs-3">@Html.DisplayFor(modelItem => workout.created_at)</td>
                            <td class="workout_user_cell col-xs-3">@Html.DisplayFor(modelItem => workout.user.username)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="pagination_container">
                @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</div>