@model IEnumerable<GoFit.Models.workout>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GoFit</h1>
    <p class="lead">Welcome to GoFit!</p>
</div>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Workouts</h2>
        </div>
        <div class="panel-body container-fluid">
            <div class="search_bar">
                <form action="/" method="post" class="form-inline">
                    <div class="search_inputs form-group row">
                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                            <input class="" id="NameSearch" name="Name" type="text" value="@ViewBag.NameSearchParam" placeholder="Workout name..." />
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                            <input class="" id="CategorySearch" name="Category" type="text" value="@ViewBag.CategorySearchParam" placeholder="Category..." />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            <input class="" id="DateAddedSearch" name="DateAdded" type="date" placeholder="Date Added..." />
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                            <input class="" id="UsernameSearch" name="Username" type="text" value="@ViewBag.UsernameSearchParam" placeholder="Username..." />
                        </div>
                        <div class="col-lg-2 col-md-1 col-sm-12 col-xs-12">
                            <input class="btn btn-primary" type="submit" value="Search" />
                        </div>
                    </div>
                </form>
            </div>
            <table class="workout_list table">
                <thead>
                    <tr>
                        <th>@Html.ActionLink("Workout Name", "Index", new { sortBy = ViewBag.NameSortParam })</th>
                        <th>@Html.ActionLink("Category", "Index", new { sortBy = ViewBag.CategorySortParam })</th>
                        <th>@Html.ActionLink("Date Added", "Index", new { sortBy = ViewBag.DateSortParam })</th>
                        <th>@Html.ActionLink("Username", "Index", new { sortBy = ViewBag.UserSortParam })</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var workout in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => workout.name)</td>
                            <td>@Html.DisplayFor(modelItem => workout.category.name)</td>
                            <td>@Html.DisplayFor(modelItem => workout.created_at)</td>
                            <td>@Html.DisplayFor(modelItem => workout.user.username)</td>
                            <td>Details</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>